<div class="jumbotron text-center">
    <h1 class="display-3">LuizaLabs</h1>
    <p class="lead">Sistema de cadastro de funcionários</p>
    <a href="/principal" class="btn btn-dark btn-lg">Entrar</a>
</div>