<h1 class="text-center mb-5">LuizaLabs</h1>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cadastrar Funcionário</h5>
                <a href="/funcionarios/cadastrar" class="btn btn-primary">Cadastrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Localizar Funcionário</h5>
                <a href="/funcionarios/localizar" class="btn btn-primary">Localizar</a>
            </div>
        </div>
    </div>
    
</div>