<h3>Localizar Funcionário</h3>
    <form action="/funcionarios/searchcargo" method="GET">
    
    <div class="form-group">
        <label for="Cargo">CPF</label>
        <select class="form-control" name="Cargo" required>
            <option>Analista Jr</option>
            <option>Analista Pl</option>
            <option>Analista Sr</option>
            <option>PO Jr</option>
            <option>PO Pl</option>
            <option>PO Sr</option>
            <option>AC Jr</option>
            <option>AC Pl</option>
            <option>AC Sr</option>
            <option>Dev Jr</option>
            <option>Dev Pl</option>
            <option>Dev Sr</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
