<h3>Localizar Funcionário</h3>
    <form action="/funcionarios/searchcpf" method="GET">
    
    <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" name="cpf" required>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
