<h1 class="text-center mb-5">LuizaLabs</h1>


<div class="row mb-3">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Todos Funcionários Cadastrados</h5>
                <a href="/funcionarios/todos" class="btn btn-primary">Listar</a>
            </div>
        </div>

    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Localizar Funcionário por Nome</h5>
                <a href="/funcionarios/nome" class="btn btn-primary">Pesquisar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Localizar Funcionário por cpf</h5>
                <a href="/funcionarios/cpf" class="btn btn-primary">Pesquisar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Localizar Funcionário por cargo</h5>
                <a href="/funcionarios/cargo" class="btn btn-primary">Pesquisar</a>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Localizar Funcionário por UF</h5>
                <a href="/funcionarios/uf" class="btn btn-primary">Pesquisar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Localizar Funcionário por Salário</h5>
                <a href="/funcionarios/salario" class="btn btn-primary">Pesquisar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Localizar Funcionário por status</h5>
                <a href="/funcionarios/status" class="btn btn-primary">Pesquisar</a>
            </div>
        </div>
    </div>
</div>