<h3>Localizar Funcionário</h3>
    <form action="/funcionarios/search" method="GET">
    
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" name="Nome" required>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
