<h3>Localizar Funcionário</h3>
    <form action="/funcionarios/searchsalario" method="GET">
    
    <div class="form-group">
        <label for="Salario">Faixa Salarial</label>
        <p>Valor Mínimo</p>
        <input type="number" class="form-control" name="valor1" required>
        <p>Valor Máximo</p>
        <input type="number" class="form-control" name="valor2" required>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
