<h3>Localizar Funcionário</h3>
    <form action="/funcionarios/searchstatus" method="GET">
    
    <div class="form-group">
        <label for="Status">Status</label>
        <select class="form-control" name="Status" required>
            <option>ATIVO</option>
            <option>INATIVO</option>
            <option>BLOQUEADO</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
    </form>
